
#arena {
   text-align: center;
   padding: 5px;
   width: 805px;
   height: 445px;
}

#wrapper {
   margin: 0 auto;
   margin-top: 10px;
   padding: 5px;
   width: 817px;
   height: 520px;
}
         
#score {
   font: 46px fantasy;
   text-align: center;
   color: #ff0;
   text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
}

#game-canvas {
   position: relative;
   border: 1px inset rgba(0,0,80,0.62);

   -webkit-transition: opacity 2.5s;
   -moz-transition: opacity 2.5s;
   -o-transition: opacity 2.5s;
   transition: opacity 2.5s;
}

#toast {
   position: absolute;
   margin-top: 90px;
   width: 820px;
   font: 40px fantasy;
   text-align: center;
   color: #ff6;
   text-shadow: 2px 2px 4px rgb(0,0,0);

   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;

   opacity: 0;
   z-index: 2;
   display: none;
}

#instructions {
   height: 30px;
   margin-right: 8px;
   padding-top: 6px;
   padding-left: 25px;

   -webkit-transition: opacity 3s;
   -moz-transition: opacity 3s;
   -o-transition: opacity 3s;
   transition: opacity 3s;

   color: #ff0;
   font-size: 0.95em;
   opacity: 1.0;
}

.keys {
   color: blue;
   text-shadow: 1px 1px 1px rgba(255,255,0,1.0);
   background: rgba(0,0,0,0.1);
   border: thin solid rgba(0,0,0,0.20);
   border-radius: 5px;
   margin-left: 10px;
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 5px;

   display: inline;
}

.explanation {
   color: #ff0;
   text-shadow: 1px 1px 1px rgba(0,0,0,1.0);
   display: inline;
   margin-top: 5px;
   padding-right: 5px;
   padding-left: 5px;
   padding-bottom: 2px;
}

#lives {
   position: absolute;
   margin-top: -40px;
   margin-left: 5px;

   -webkit-transition: opacity 2s;
   -moz-transition: opacity 2s;
   -o-transition: opacity 2s;
}

.credits {
   position: absolute;
   margin-left: 50px;
   margin-top: 5px;
   padding-bottom: 20px;
   text-align: center;
   width: 630px;
   background: rgba(0,0,0,0.4);
   background: rgba(255,255,230,0.9);
   border: thin solid blue;
   padding-top: 20px;
   padding-left: 40px;
   padding-right: 40px;

   -webkit-transition: opacity 2s;
   -moz-transition: opacity 2s;
   -o-transition: opacity 2s;
   transition: opacity 2s;

   -webkit-box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
   -moz-box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
   -o-box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
   box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;

   border-radius: 10px;

   opacity: 0;
   display: none;
   z-index: 2;
}

#credits .attribution {
   font: 17px fantasy;
   color: blue;
   text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

#credits .title {
   margin-bottom: 10px;
   font-size: 25px;
   color: blue;
   text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

#copyright {
   float: right;
   margin-top: -30px;
   margin-right: 15px;
   padding: 2px;
   color: rgb(40, 40, 255);
   text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
   font-size: 0.85em;

   -webkit-transition: opacity 5s;
   -moz-transition: opacity 5s;
   -o-transition: opacity 5s;
   transition: opacity 5s;
}